@keyframes heart-beat{
    100%{
        font-size: 150%;
    }
    50%{
        font-size: 80%;
    }    
}
body{
    background-color: black;
}
#positioning{
    position: absolute;
    top: 45%;
    left: 45%;
    right: 50%;
    bottom: 50%;
}

.heart{
    position: absolute;
    animation-name: heart-beat;
    animation-direction: alternate;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    color: darkred;
}