*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Raleway, sans-serif;
    font-size: 15px;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
}
.letter-spacing-4{
    letter-spacing: 4px;
}


.margin-bottom-5{
    margin-bottom: 5px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-25{
    margin-bottom: 25px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-bottom-40{
    margin-bottom: 40px;
}
.margin-bottom-45{
    margin-bottom: 45px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-bottom-60{
    margin-bottom: 60px;
}
.margin-bottom-70{
    margin-bottom: 70px;
}
.margin-bottom-85{
    margin-bottom: 85px;
}
.container{
    padding: 0 10px;
}
.section{
    width: 1450px;
    padding: 0 30px;
}
.padding-right-30{
    padding-right: 30px;
}
.padding-bottom-50{
    padding-bottom: 50px;
}





.navbar{
    height: 55px;
    width: 100%;
    box-shadow: 0 0 5px 0 #777;
    z-index: 9999;
}

.navbar-light{
    background: #FFF;
    color: #000;
}
.company-name{
    font-size: 16px;
    font-weight: 900;
    padding-right: 3px;
}
.menu-item{
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    margin: 10px 0;
    height: 35px;
    padding: 5px 12px;
    box-sizing: border-box;
}
.padding-right{
    padding-right: 25px;
}
.padding-left{
    padding-left: 20px;
}

.menu-item a:link,
.menu-item a:visited{
    color: #000;
    text-decoration: none;
}
.menu-item:hover{
    background: #CCC;
    color: #000;
    cursor: pointer;
}

.overlay{
    position: absolute;
    bottom: 42%;
    left: 40.2%;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    color: #F1F1F1;
}
.dark-background{
    background: rgba(0, 0, 0, 0.75);
    padding: 10px 15px;
    font-weight: bolder;
}


.title{
    font-size: 22px;
    font-weight: 400;
    font-family: Lato, sans-serif;
    padding-left: 5px;
    padding-bottom: 20px;
    border-bottom: solid 1px #EEE;
}
.image{
    position: relative;
}
.image:not(.last-element){
    margin-right: 15px;
    margin-bottom: 15px;
}

.house-image-overlay{
    position: absolute;
    top: 0;
    background: #333;
    color: #FFF;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
}


.paragraph{
    font-size: 16px;
    color: #333;
    font-family: Lato, sans-serif;
    font-weight: 500;
    line-height: 1.5;
}
.team-member{
    width: 25%;
    padding: 0 15px 0 0;
    box-sizing: border-box;
}
.team-member-image{
    position: relative;
}


.grayscale{
    filter: grayscale(75%);
}



.team-member-name{
    font-size: 24px;
    font-weight: 400;
    font-family: Lato, sans-serif;
}
.post{
    font-size: 16px;
    color: #777;
    font-weight: 500;
}
.btn{
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: Lato, sans-serif;
    text-align: center;
    background: #EEE;
    padding: 10px 50px;
    border: solid 1px #EEE;
    box-sizing: border-box;
}
.btn:hover,
.btn:active{
    background: #DDD;
    border: solid 1px #DDD;
}
.btn:active{
    border: solid 1px #AAA;
}
.subtitle{
    font-size: 16px;
    font-weight: 600;
    font-family: Raleway, sans-serif;
    padding: 0 0 15px 5px;
}
.form-input{
    display: block;
    width: 99.5%;
    padding: 10px 8px;
    font-size: 16px;
}
.form-input:not(.last-input){
    margin-bottom: 15px;
}
.btn-black{
    color: #FFF;
    background: #000;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    font-size: 15px;
    border: none;
}
.btn-black:hover,
.btn-black:active{
    color: #000;
    background: #DDD;
}

.footer{
    background: #000;
    height: 85px;
}

.footer p{
    text-align: center;
    line-height: 85px;
    color: #FFF;
    font-size: 17px;
    font-family: Lato, sans-serif;
    
}