
/*GENERAL STYLES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Karma' , sans-serif;
    line-height: 1.4;
    min-height: 7000px;
}
/*img{width: 100%;}*/
a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

textarea{
    resize: none;
    
}

/*UTILITY CLASSES*/

.py-1{ padding: 1.5rem 0; }
.py-2{ padding: 2rem 0; }
.py-3{ padding: 3rem 0; }

.p-1{ padding: 1.5rem; }
.p-2{ padding: 2rem; }
.p-3{ padding: 3rem; }

mg-top-100{
    margin-top: 100;
}


.heading{
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 0.75rem;
}

.lead{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    color: #fff;
    background: var(--primary-color);
    padding: 0.5rem 2rem;
    border: none; /*  used to remove border from button class*/
    border-radius: 5px;
}


#navbar{
    display: flex;
    justify-content: space-around;
/*    background: #333;*/
    color: black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    animation: animatetop 0.4s;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
/*    animation-play-state: running;*/
    box-sizing: border-box;
    height: 68px;
    padding: 16px 0;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    
}

#navbar ul li span{
    color: black;
    font-size: 24px;
    line-height: 24px;
    padding: 1rem;
    
}

#navbar ul .hover-waala:hover{
    background: #ccc;
    color: black;
    transition: background .3s;
}

#navbar ul li{
    display: flex;
    justify-content: space-between;
}

#container{
    width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    overflow: auto;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: black;
    min-height: 4000px;
    display: flex;
    justify-content: space-between;
}

#food-section .item{
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 0;
}

img{
    width: 100%;
}












