
@keyframes animatetop{
    from{
        top:-300px;
        opacity:0;
    } 
    to{
        top:0;
        opacity:1;
    }
} 

/*GENERAL STYLES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato';
    line-height: 1.4;
    min-height: 7000px;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

textarea{
    resize: none;
    
}

/*UTILITY CLASSES*/

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: auto;
}

.py-1{ padding: 1.5rem 0; }
.py-2{ padding: 2rem 0; }
.py-3{ padding: 3rem 0; }

.p-1{ padding: 1.5rem; }
.p-2{ padding: 2rem; }
.p-3{ padding: 3rem; }


.heading{
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 0.75rem;
}

.lead{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    color: #fff;
    background: var(--primary-color);
    padding: 0.5rem 2rem;
    border: none; /*  used to remove border from button class*/
    border-radius: 5px;
}


#navbar{
    display: flex;
    justify-content: space-between;
/*    background: #333;*/
    color: #777;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1rem;
    animation: animatetop 0.4s;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
/*    animation-play-state: running;*/
}

#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a{
    color: #777;
    padding: 0.75rem;
    margin: 0 0.25rem;
    
}

#navbar ul li a:hover{
    background: #ccc;
    color: black;
    transition: background .3s;
}

.hover-red{
    color: #fff!important;
    background-color: #f44336!important;
}

.bgimg-1{
    position: absolute;
    background: url('IMAGES/bg-img-1.jpg') no-repeat center center/cover;
    min-height: 400px;
    width: 100%;
}








































