@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');


/*GENERAL STYLES*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    line-height: 1.4rem;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
textarea{
    resize: none;
}

/*UTILITY CLASSES*/
.container{
    margin: 0 auto;
    overflow: auto;
}
.section-title{
    letter-spacing: 0.3rem;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.i-light{
    text-align: center;
    font-style: italic;
    color: #999;
    font-weight: 400;
}
.c-light{
    color: #FFF;
}
.text-center{
    text-align: center;
}
.p-c{ padding: 5rem 23.5rem 6.8rem;}
.py-1{ padding: 4.7rem 0; }

.margin-right-15{
    margin-right: 15px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-25{
    margin-bottom: 25px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-bottom-70{
    margin-bottom: 70px;
}
.bg-light{
    background: #FFF;
}
.bg-dark{
    background: #000;
}
.position{
    position: relative;
}
.s-heading{
    font-size: 1.45rem;
    font-weight: normal;
}
/*NAVBAR*/
#navbar{
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #FFF;
    height: 45px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
#navbar ul{
    display: flex;
    align-items: center;
}
button{
    background: none;
    border: none;
    color: #FFF;
    font-size: 1rem;
}
#navbar ul li a,
button{
    padding: 0.8rem 1.4rem;
    color: #FFF;
    text-transform: uppercase;
}
#navbar ul li a:hover,
button:hover{
    background: #CCC;
    color: #333;
}
#navbar ul li .red-hover:hover{
    background: #f44336;
    color: #FFF;
}
.sub-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: 0;
    background: #FFF;
    align-items: flex-start;
    box-shadow: 3px 1px 10px 0 #DDD, -3px 1px 10px 0 #DDD;
/*visibility:collapse;*/
}
#navbar .sub-menu li{
    width: 10.3rem;
}
#navbar .sub-menu li a{
    display: block;
    text-transform: capitalize;
    color: #333;
    padding-right: 50px;
}
button:hover #navbar .sub-menu{
    visibility: visible;
}

/*SHOWCASE*/
#showcase{
    background: #333 url('../images/la.jpg') no-repeat center center/cover;
    min-height: 100vh;
    font-family: 'Areil', sans-serif;
}
#showcase .showcase-content{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 345px;
    left: 600px;
    color: #FFF;
}
.lead{
    font-size: 0.9rem;
    font-weight: bold;
}
/*SECTION: The Band*/
.paragraph{
    text-align: justify;
    font-size: 0.9375rem;
}
#band .items{
    display: flex;
    justify-content: space-between;
}
#band .items .item{
    text-align: center;
    flex: 1;
}
#band .items .item img{
    width: 65%;
    margin: auto;
    border-radius: 5px;
}

/*SECTION: Tour*/
#tour .event-card{
    background: #FFF;
}
.flex-item{
    display: flex;    
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}
#tour .event-card .event-row{
    border: #EEE 1px solid;
    padding: 0.5rem 1rem;
}
.month{
    color: #AAA;
}
.tag{
    background: #f44336;    
    color: #FFF;
    padding: 0.1rem 0.3rem;
    margin-left: 1rem;
}
.badge{
    color: #FFF;
    background: #000;
    padding: 0.1rem 0.5rem;
    border-radius: 100%;
}
#tour .items{
    display: flex;
    justify-content: space-between;
}
#tour .item{
    background: #FFF;
    margin-right: 1rem;
}
.event-image{
    position: relative;
}
.overlay{
    width: 100%;
    height: 98%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}
.event-image:hover .overlay{
    display: block;
}
.item-contents{
    padding: 1rem 1rem 1.5rem;
}
.event-place{
    font-weight: bold;
    font-size: 0.875rem;
}
.event-date{
    color: #777;
}
.event-details{
    font-size: 0.98rem; 
    color: #000;
}
.btn-dark{
    padding: 0.5rem 0.75rem;
    color: #FFF;
    background: #000;
    border: solid 1px #000;
}
.btn-dark:hover{
    color: #000;
    background: #CCC;
    border: 1px solid #BBB;
}

/*SECTION: Contact*/
#contact .items{
    display: flex;
    flex-direction: row;
}
#contact .items .item{
    flex: 1;
}
#contact .items .item p{
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}
#contact .items .item p i{
    width: 2rem;
}
#contact .items .item input{
    padding: 0.7rem;
    border: #CCC solid 1px;
}
#contact .items .btn{
    justify-content: flex-end;
    padding: 0.7rem 1rem !important;
    text-transform: uppercase;
}

/*SECTION: Map*/
#map .img{
    background: url('../images/map.jpg') no-repeat center center/cover;
    min-height:100vh;
}
.grayscale{
    filter: grayscale(60%);
}

/*SECTION: Footer*/
.main-footer{
    background: #f4f4f4;
}
.main-footer .container>div{
    font-size: 1.5rem;
    color: #555;
}
.main-footer .container>div i:hover{
    color: #AAA;
}
.main-footer .container div p{
    font-size: 0.95rem;
}

/*Mobile CSS*/




















