/*GENERAL SECTION*/


html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Lato, sans-serif;
    font-size: 15px;
    min-height: 5000px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-25{
    margin-bottom: 25px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-bottom-70{
    margin-bottom: 70px;
}
a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

textarea{
    resize: none;
    
}

.paragraph{
    
    text-align: justify;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-gray{
    color: #AAA;
}
.section .no-padding-left{
    padding-left: 0;
}
.section .no-padding-right{
    padding-right: 0;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: auto;
}

.py-1{ padding: 1.5rem 0; }
.py-2{ padding: 2rem 0; }
.py-3{ padding: 3rem 0; }

.p-1{ padding: 1.5rem; }
.p-2{ padding: 2rem; }
.p-3{ padding: 3rem; }