*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: #F5F7F8;
    box-sizing: border-box;
    
}
h1,h2,h3,h4,h5{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: white;
    font-family: sans-serif; !important
}
.clearfix{
    clear:both;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.pull-left{
    float: left;
    display: block;
}
.pull-right{
    float: right;
    display: block;
}

#main{
    margin: 0 auto;
}

#container{
    margin: 0 auto;
}

/*UTILITY CLASSES*/

.decrease-opacity{
    opacity: 0.6;
}

.img-circle{
    border-radius: 50%;
}

.mr-16{
    margin-right: 16px;
}
.mt-20{
    margin-top: 20px;
}

img{
    vertical-align: middle;
}

p{
    margin: 15px 0;
}

.col-33{
    width: 25%;
    float: left;
    box-sizing: border-box;

}

/*HEADER SECTION*/

.navbar{
    width: 100%;
    height: 50px;
}
.navbar-dark{
    background: #4D636F;
    color: #FFF;
}
.navbar-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.menu{
    height: 50px;
}
.menu-item{
    display: inline-block;
    padding: 0 22px;
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    box-sizing: border-box;
}
.menu-item.logo{
    background-color: #3a4b53;
    text-transform: capitalize;
}
#badge{
    background-color: #4CAF50;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    display: inline-block;
    padding: 0 8px;
    border-radius: 100%;
    height: 18px;
    line-height: 18px;
    width: 7px;
    vertical-align: super;
}


.sub-menu{
    position: absolute;
    width: 330px;
    left: 0;
    top: 45px;
    background: #FFF;
    box-shadow: 3px 4px 10px 0 #DDD, -3px 4px 10px 0 #DDD;
    display: none;
}
.sub-menu .menu-item{
    display: block;
    height: 35px;
    line-height: 35px;
}
.menu-item.position{
    position: relative;
}


.menu-item.logo:hover{
    background: #f4f4f4;
}
.menu-item.logo:hover a,.menu-item:hover span{
    color: #333;
}
.menu-item:hover,.menu-item.menu-white:hover{
    background: #fff;
    color: #333;
    cursor: pointer;
}

.menu-item:hover .sub-menu{
    display: block;

}
.menu-item.position:hover{
    background: #DDD;
}
.menu-item a:link,
.menu-item a:visited{
    color: #FFF;
    text-decoration: none;
}

.sub-menu .menu-item:hover{
    background: #DDD;
    
}

/* /HEADER SECTION */





/*LEFT SECTION*/

#left-section{
    width: 339px;
    display: block;
    margin-top: 78px;
    margin-left: 17px;
}

#left-first-box{
    width: 330px;
    background-color: white;
    border-radius: 5px;
}

.avatar{
    display: block;
    height: 313px;
    padding: 0.1em 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 4px;
}

.avatar h4{
    text-align: center;
    margin: 10px 0;
    font-weight: 400;
    font-size: 20px;
}
.avatar hr{
    margin: 20px 0;
    border: 0;
    border-top: solid 1px #eee;
}
.avatar-img{
    text-align: center;
    margin: 15px 0;
}
.icons{
    color: #607d8b;
}

.left-second-box{
    background-color: #7D97A5;
    width: 330px;
    height: 111px;
    box-sizing: border-box;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
}

.left-second-box span{
    padding-right: 15px;
}
.left-second-box a{
    text-decoration: none;
    display: block;
    font-size: 15px;
    text-align: left;
    padding-left: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    color: white;
}

.left-second-box a:hover{
    color: black;
    background-color: #ccc;
}

.left-third-box{
    width: 300px;
    height: 115px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
    padding: 8px 16px;
    border-radius: 4px;
    background-color: white;
}
.interest-items{
    font-size: 12px;
    display: inline;
    margin: auto;
    color: white;
    
}
.interest-items .text-black{
    color: black;
}
.interest-items span{
    padding: 1.1px 5px;
}

.bg-1{background-color:#303E45; }
.bg-2{background-color:#3A4B53; }
.bg-3{background-color:#435761; }
.bg-4{background-color:#4D636F; }
.bg-5{background-color:#57707D; }
.bg-6{background-color:#607D8B; }
.bg-7{background-color:#7D97A5; }
.bg-8{background-color:#9EB1BB; }
.bg-9{background-color:#BECBD2; }
.bg-10{background-color:#DFE5E8; }
.bg-11{background-color:#F5F7F8; }

.left-fourth-box{
    margin-top: 20px; 
    width: 298px;
    height: 110px;
    background-color: #DFE5E8;
    margin-bottom: 16px;
    border: solid 1px #ccc;
    padding: 0.15px 16px;
    position: relative;
    border-radius: 4px;
}


.left-fourth-box h4{
    display: inline-block; 
    width: 45px;
    height: 10px;
    margin: 15px 0;
}

.cancel{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #becbd2;
    width: 45px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: solid 1px #becbd2;
    text-decoration: none;
    
}

.cancel:hover{
    background-color: #ccc;
    cursor: pointer;
}

/* /LEFT SECTION */

/*MIDDLE SECTION*/

#middle-section{
    margin-top: 78px;
    margin-left: 7px;
    margin-right: 15px;
    width: 735px;
}
#middle-section h6{
    font-weight: 400;
    font-size: 15.4px;
    line-height: 30px;
    padding:16px;
    padding-bottom: 5px;
}

.middle-first-box{
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
     background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
   
}
.middle-first-box p{
    padding: 10px 16px;
    border: solid 1px #ccc;
    margin: 5px 16px;
    box-sizing: border-box;
}


.post{
    background-color: #607d8b;
    width: 80px;
    height: 40px;
    font-size: 15.4px;
    line-height: 40px;
    color: white;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-sizing: content-box;
}

.post:hover ,.post:hover a{
    background-color: #CCC;
    color: #333;
    cursor: pointer;
}


.middle-second-box{
    background-color: white;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
    border-radius: 5px;
    height: 520px;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 8px;
}

.middle-second-box h4{
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 400;

}

.middle-second-box hr{
    border: solid 0.7px #f4f4f4;
    margin: 20px 0;
    margin-top: 50px;
}

.middle-second-img{
    display: inline-block;
}

.p-8-16{
    padding: 8px 16px;
}

.middle-second-img1{
    float: left;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.middle-second-img2{
    float: right;
    margin-left: 13px;
    margin-bottom: 16px;
    box-sizing: border-box;
    padding: 0;

}
.like span{
    float: left;
    background-color: #57707d;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    width: 80px;
    line-height: 40px;
}
.comment span{
    float: left;
    background-color: #57707d;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    width: 120px;
    line-height: 40px;
    margin-left: 10px;
}

.like:hover span, .like:hover a{
    background-color: #CCC;
    color: black;
    cursor: pointer;
}
.comment:hover span, .comment:hover a{
    background-color: #CCC;
    color: black;
    cursor: pointer;
}

.middle-third-box{
    margin-top: 15px; 
    height: 270px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
}

.middle-third-box h4{
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 400;

}

.middle-third-box hr{
     border: solid 0.6px #f4f4f4;
    margin: 20px 0;
    margin-top: 50px;
}


.middle-fourth-box{
    margin-top: 15px; 
    height: 820px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    border-radius: 5px;
    margin-bottom: 35px;
}

.middle-fourth-box h4{
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 400;

}
.middle-fourth-box p{
    padding: 16px 0;
    padding-bottom: 0;
}

.middle-fourth-box hr{
     border: solid 0.7px #f4f4f4;
    margin: 20px 0;
    margin-top: 50px;
}
/*/MIDDLE SECTION*/

/*RIGHT SECTION*/

.right-section{
    float: left;
    margin-top: 78px;
    margin-left: 420px;
    width: 220px;
}

.right-first-box{
    padding: 8px 16px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
    background-color: white;
    text-align: center;
    border-radius: 5px;
    height: 305px;
    line-height: 19px;
}

.right-first-box a{
    text-decoration: none;
    color: black;
    background-color:#DFE5E8;
    font-size: 16px;
    padding: 10px 16px;
    display: block;
    
}

.right-first-p{
    font-weight: 600;
}
.right-first-box a:hover{
    background-color:#ccc;
    cursor: pointer;
}


.right-second-box{
    padding: 8px 16px;
    height: 240px;    
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
    background-color: white;
    text-align: center;
    box-sizing: border-box;
}

.check-1{
    color: white;
    display: inline-block;
    width: 95px;
    height: 38px;
    box-sizing: border-box;
    padding: 12px 16px;
    background-color: #4caf50;
}

.remove-1{
    color: white;
    display: inline-block;
    padding: 12px 16px;
    background-color: #f43336;
    width: 95px;
    height: 38px;
    box-sizing: border-box;
}
.check-and-remove{
    text-align: center;
    display: flex;
    margin: 0 8px;;
}

.check-1:hover ,.remove-1:hover{
    background-color: #E0E0E0;
    color: #6C6C6C;
    cursor: pointer;
}


.right-second-box p.avatar-name{
    margin-top: 0;
    font-weight: 500;
}

.right-third-box{
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    height: 85px;
    line-height: 85px;
}

.right-fourth-box{
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
    font-size: 20px;
    height: 130px;
    line-height: 130px;
}
/*/RIGHT SECTION*/

/*FOOTER*/
.footer-1{
    height: 50px;
    background: #435761;
    color: white;
    padding: 15px;
    font-size: 18px;
    line-height: 50px;
}

.footer-2{
    height: 28px;
    background: #303e45;
    color: white;
    padding: 16px;
    line-height: 28px;
}

.footer-1 a{
    text-decoration: underline;
}

/*FOOTER*/